@import url('https://fonts.googleapis.com/css?family=B612&display=swap');
.body{
    background-color: rgb(240,240,240);
    /* color: grey; */
}

.left {
    float: left
}

.right {
    float: right
}

h5{
    font-family: 'B612', sans-serif;
}

.IO{
    clear: both;
    padding-bottom: 50px;
    padding-top: 50px;
}

table{
    font-family: 'B612', sans-serif;
    width: 100%;
}

textarea{
    width: 100%;
    height: 300px;
    color: yellow;
    background-color: #272822;
    resize: none;
}

